<p>form-note works!</p>

<form [formGroup]="formNote" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input formControlName="title" type="text" matInput required>
  </mat-form-field>

  <select formControlName="state" required>
    <option value="">Select state</option>
    <option value="open">Open</option>
    <option value="in_process">In Process</option>
    <option value="close">Close</option>
  </select>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea formControlName="description" matInput required></textarea>
  </mat-form-field>

  <button type="submit" [disabled]="!formNote.valid">{{ textSubmitButton }}</button>
</form>
