<p>form-note works!</p>

<form [formGroup]="formNote" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="title">

  <select formControlName="state">
    <option value="">Select state</option>
    <option value="open">Open</option>
    <option value="in_process">In Process</option>
    <option value="close">Close</option>
  </select>

  <!--TODO: change input to textArea (From angular material)-->
  <input type="text" formControlName="description">

  <button type="submit" [disabled]="!formNote.valid">Submit</button>
</form>