<p>form-note works!</p>

<form [formGroup]="formNote" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="title" required>

  <select formControlName="state" required>
    <option value="">Select state</option>
    <option value="open">Open</option>
    <option value="in_process">In Process</option>
    <option value="close">Close</option>
  </select>

  <!--TODO: change input to textArea (From angular material)-->
  <input type="text" formControlName="description" required>

  <button type="submit" [disabled]="!formNote.valid">{{ textSubmitButton }}</button>
</form>
