:host {
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 50px;

    .submit-button {
      align-self: flex-end;
      width: 30%;
    }
  }
}