
<div>
  <p id="header">Open</p>
  <ul id="note">
    <li id="open"
      *ngFor="let note of open_notes"
    >
      <p id="title"
        routerLink="/update-note/{{note.id}}"
        routerLinkActive="active"
      >{{ note.title }}</p>
      <button (click)="deleteNote(note)">Eliminar</button>
      
      <p id="description">
        {{note.description}}</p>
    </li>
  </ul>
</div>

<div>
  <p id="header">In Process</p>
  <ul id="note">
    <li id="inProcess"
      *ngFor="let note of inprocess_notes"
    >
      <p id="title"
        routerLink="/update-note/{{note.id}}"
        routerLinkActive="active"
      >{{ note.title }}</p>
      <button (click)="deleteNote(note)">Eliminar</button>

      <p id="description">
        {{note.description}}</p>
    </li>
  </ul>
</div>

<div>
  <p id="header">Close</p>
  <ul id="note">
    <li id="close"
      *ngFor="let note of close_notes"
    >
      <p id="title"
        routerLink="/update-note/{{note.id}}"
        routerLinkActive="active"
      >{{ note.title }}</p>
      <button (click)="deleteNote(note)">Eliminar</button>

      <p id="description">
        {{note.description}}</p>
    </li>
  </ul>
</div>
