<p id="myNotes">Mis Notas</p>

<div id="notes">
  <p id="header">Open</p>
  <ul id="note">
    <li id="open"
      *ngFor="let note of open_notes"
      class="note-body"
    >
    <div>
      <p id="title"
        routerLink="/update-note/{{note.id}}"
        routerLinkActive="active"
      >{{ note.title }}</p>
      <p id="description">
        {{note.description}}</p>
    </div>
      <span (click)="deleteNote(note)" class="delete-button">X</span>
    </li>
  </ul>
</div>

<div id="notes">
  <p id="header">In Process</p>
  <ul id="note">
    <li id="inProcess"
      *ngFor="let note of inprocess_notes"
      class="note-body"
    >
    <div>
      <p id="title"
        routerLink="/update-note/{{note.id}}"
        routerLinkActive="active"
      >{{ note.title }}</p>
      <p id="description">
        {{note.description}}</p>
    </div>
      <span (click)="deleteNote(note)" class="delete-button">X</span>
    </li>
  </ul>
</div>

<div id="notes">
  <p id="header">Close</p>
  <ul id="note">
    <li id="close"
      *ngFor="let note of close_notes"
      class="note-body"
    >
    <div>
      <p id="title"
        routerLink="/update-note/{{note.id}}"
        routerLinkActive="active"
      >{{ note.title }}</p>
      <p id="description">
        {{note.description}}</p>
    </div>
      <span (click)="deleteNote(note)" class="delete-button">X</span>
    </li>
  </ul>
</div>

<p id="messageClic">Al dar clic sobre cada nota permitirá editar </p>

<app-footer></app-footer>
